[Unit]
Description=Rotate Screen
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=root
After=display-manager.service

[Service]
ExecStart=/usr/local/bin/rotate.sh

[Install]
WantedBy = multi-user.target

