[Unit]
Description=Rotate Screen

[Service]
ExecStart=/usr/local/bin/rotate.sh
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
After=display-manager.service

[Install]
WantedBy = multi-user.target
